.wrapper{
  margin-bottom: 42PX;
}

.btnOption{
margin-right: 20px;
background-color: #00246B;
color: #CADCFC;

  &:hover{
  background-color: #F98866;
  color: #FFF2D7;
}
}

.btnOption:last-child{
  margin-right: 0;
}